.skills {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1000px;
  align-items: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skills-item {
  font-size: 2.5em;
  background-color: var(--card-light);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.skills-item:hover {
  transform: scale(1.05);
}