.about {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1000px;
    align-items: center;
}

.about-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.about-heading {
    max-width: 600px;
}

.about-subheading {
    font-family: 'Anta', sans-serif;
    max-width: 1000px;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.about-skills-item {
    font-size: 1.2em;
    background-color: var(--card-light);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}